*{
  background-color: #2F4F4F;
}
.container{
  background-color: #DCDCDC;
}
.left-column p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.first-line{
  text-decoration: bolder;
  font-size: 17px;
}
.caption{
  font-size: 10px;
  color: #808080;
}
